body{
    background-color: black;
    margin:0px;
    font-family: Roboto;
    margin-left:5%;
    margin-right:5%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000; 
}

    

.navbar ul{
    list-style-type:none;
    padding:0px;
    overflow:hidden;
    font-weight: 300;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
    font-size: 1.2em;
}
.navbar li{
    margin-left: 30px;
    float:left;
}

.navbar a:hover{
    color: aquamarine;
}

.navbar a.active {
    color: aquamarine; /* Change text color to improve readability */
}

main {
    padding-top: 100px;
}
#img1{
    min-width: 420px;
    max-width: 600px;
    width: 40%;
    float: right;
    margin-bottom: 5%;
    margin-left:5%;
    margin-top:2%;
    
}

#intro1{
    margin-top: 2%;
    color:white;
    font-size: 4em;
    font-weight: 400;
    display:span;
    
}
#desc1{
    
    
    margin-top: 50px;
    color:white;
    font-size:1.8em;
    font-weight:300;
    max-width: 1000px;
    width: calc(60% + 40vw);
    
}

#img2{
  padding-top: calc(5% + 2vw);
    min-width: 450px;
    max-width: 600px;
    width: 50%;
    margin-bottom: 20%;
    margin-right: 5%;
    float:left;
}

div{
    margin-top: 30%;
}
#intro2{
    padding-top: 5%;
    color:white;
    font-size: 3.5em;
    font-weight: 400;
    
}
#desc2{
    margin-top: 10px;
    color:white;
    font-size:1.6em;
    font-weight:300;
    
}

#intro1 span.special{
    color: aquamarine;
}
#intro2 span.special{
    color: aquamarine;
}
