body{
    background-color: black;
    margin:0px;
    font-family: Roboto;
    margin-left:5%;
    margin-right:5%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000; 
}

hr {
    width: calc(100% - 200px);
}
    

.navbar ul{
    list-style-type:none;
    padding:0px;
    overflow:hidden;
    font-weight: 300;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
    font-size: 1.2em;
}
.navbar li{
    margin-left: 30px;
    float:left;
}

.navbar a:hover{
    color: aquamarine;
}

.navbar a.active {
    color: aquamarine; /* Change text color to improve readability */
}

main h1{

    padding-top: 7%;
    color:white;
    font-size:4em;
    font-weight: 400;
}

main span.special{
    color:aquamarine;
}

#pic1 {

    min-width: 420px;
    max-width: 500px;
    width: 40%;
    float: right;
    margin-bottom: 5%;
    margin-left:5%;
    margin-top:2%;
        
}

.icon{
    color: aquamarine;
    margin-right: 3%;
}

.icon:hover{
    color:white;
}

main p{
    color:white;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 100px;
}
main a{
    text-decoration: none;
}

